[submodule "pngwriter"]
	path = pngwriter
	url = https://github.com/pngwriter/pngwriter.git
[submodule "libSplash"]
	path = libSplash
	url = https://github.com/ComputationalRadiationPhysics/libSplash.git
