[submodule "pngwriter"]
	path = pngwriter
	url = https://github.com/pngwriter/pngwriter.git
[submodule "libsplash"]
	path = libsplash
	url = https://github.com/ComputationalRadiationPhysics/libSplash.git
[submodule "halt"]
	path = halt
	url = https://github.com/ComputationalRadiationPhysics/halt.git
[submodule "cupla"]
	path = cupla
	url = https://github.com/mxmlnkn/cupla.git
	branch = unusedParamWarning
